<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>Seu Style</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Seu Style</h1>
<nav>
    <a href="/">Início</a>
    <a href="/carrinho">Carrinho</a>
    <a href="/cadastro">Cadastro</a>
    <a href="/clientes">Clientes Cadastrados</a>
</nav>
    </header>

    <main>

        <section class="titulo">
            <h2>Bem-vindo à Seu Style!</h2>
            <p>Encontre roupas que combinam com o seu estilo.</p>
        </section>

        <section class="produtos">

            {% for produto in produtos %}

            <div class="produto">

                <img
                    src="{{ url_for('static', filename='imagens/' + produto.imagem) }}"
                    alt="{{ produto.nome }}"
                >

                <h3>{{ produto.nome }}</h3>

                <p class="preco">
                    R$ {{ "%.2f"|format(produto.preco) }}
                </p>
        {% if produto.estoque > 0 %}

    <p>
        📦 Estoque: {{ produto.estoque }} unidades
    </p>

    <a href="/comprar/{{ produto.id }}">
        <button>Comprar</button>
    </a>

{% else %}

    <p>
        ❌ Produto esgotado
    </p>

    <button disabled>
        Indisponível
    </button>

{% endif %}

            
            </div>

            {% endfor %}

        </section>

    </main>

</body>

</html>